<div>
    <header>
        <h1 class="project-title">Settings Site</h1>
    </header>

    
        <!--VideoPlayer-->
        <div class="video-container">
            <video id="video1">
                <source src="http://www.mp4point.com/downloads/ec43fdf99000.mp4" type="video/mp4"/>
            </video>
            <div class="controls noselect">
                <div id="play">&#8250;</div>
            </div>
        </div>

    <div style="margin-left:200px">
        <p id="demo">Click the button to get your position.</p>

        <button onclick="getLocation()">Try It</button>

        <div id="mapholder"></div>
    </div>

</div>
