<header>
    <h1 class="project-title">Taskboard Site: {{menuCtrl.project.name}}</h1>
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#taskModal">Create Task</button>
</header>
<div>
    <!--Bootstrap class for responsive-->
    <div class="container" style="padding-top:30px">

        <div class="card-deck-wrapper">
            <div class="card-deck deck-wrapper-padding">
                <!--Bootstrap card-->
                <div class="card" ng-repeat="(name, list) in models.lists">
                    <div class="card-header">{{name}}</div>
                    <ul class="list-group list-group-flush" dnd-list="list">
                        <!-- The dnd-draggable directive makes an element draggable and will
                        transfer the object that was assigned to it. If an element was
                        dragged away, you have to remove it from the original list
                        yourself using the dnd-moved attribute -->
                        <li class="list-group-item"
                            ng-repeat="item in list"
                            dnd-draggable="item"
                            dnd-moved="list.splice($index, 1)"
                            dnd-effect-allowed="move"
                            dnd-selected="models.selected = item"
                            ng-class="{'selected': models.selected === item}">
                            {{item.name}}
                        </li>
                        <li class="list-group-item dropZone" ></li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Makin modal for task!-->
        <div class="modal fade" id="taskModal" role="dialog" ng-controller="TaskboardController as taskCtrl">
            <div class="modal-dialog modal-lg">
                <!--Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Modal for task</h4>
                    </div>
                    <div class="modal-body">
                        <!--Form start-->
                        <form class="css-form" name="taskForm" novalidate>
                            <div class="form-group">
                                <!--Modal-->
                                <div>
                                    <label>Name</label>
                                    <input type="text" class="form-control" name="taskName" maxlength="30" ng-model="task.name" placeholder="Task name" required/>
                                    <div ng-messages="taskForm.taskName.$error" ng-if="taskForm.taskName.$dirty">
                                        <div ng-message="required">Du mangler at udfylde</div>
                                    </div>
                                    <label>Description</label>
                                    <input type="text" class="form-control" ng-model="task.description" placeholder="Task description"/>
                                    <label>Estimat</label>
                                    <input type="number" class="form-control" name="taskEstimat" min="1" max="100" ng-model="task.estimat" placeholder="Estimat"/>
                                    <div ng-messages="taskForm.taskEstimat.$error">
                                        <div ng-message="min">Mindst 1</div>
                                        <div ng-message="max">Max 100</div>
                                    </div>
                                    <label>Priority</label>
                                    <input type="number" class="form-control" name="taskPriority" min="1" max="10" ng-model="task.priority" placeholder="Priority" />
                                    <div ng-messages="taskForm.taskPriority.$error">
                                        <div ng-message="min">Mindst 1</div>
                                        <div ng-message="max">Max 10</div>
                                    </div>
                                    <label>Actual Time</label>
                                    <input type="number" class="form-control" name="taskActualTime" min="1" max="100" ng-model="task.actualTime" placeholder="Actual Time" />
                                    <div ng-messages="taskForm.taskActualTime.$error">
                                        <div ng-message="min">Mindst 1</div>
                                        <div ng-message="max">Max 100</div>
                                    </div>
                                    <label>User Message:</label>
                                    <textarea type="text", name="taskMessage" ng-model="task.message"></textarea>

                                    <!--Dropdown for stories-->
                                    <select ng-model="task.story" ng-options="story.name for story in stories"></select>
                               
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" ng-disabled="taskForm.$invalid" ng-click="taskCtrl.addTask()" value="Create Task" class="btn btn-primary" data-dismiss="modal" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>